/* home.css */
.with-background {
    background-image: url(../images/Background.jpg);
    background-size: cover;
    height: 110vh;
    background-repeat: no-repeat;
    box-sizing: border-box; /* Ensure padding is included in the width */
}
